# Ignorer les dossiers de l'environnement virtuel
Include/
Scripts/
Lib/

# Ignorer les fichiers de configuration de l'éditeur
.vscode/
.idea/
/pyvenv.cfg

# Ignorer les fichiers de cache Python
__pycache__/
*.pyc



